<div class="container" ng-controller="ChooseJobController as ChJobCtrl">

	<h1>BreakingTheRules</h1>
	
	<section class="JobChoosebox">
		<h2>Create a New Job</h2>
		<p>To begin, upload a CSV file with hits. The column order is: source IP, destination IP, 
			port, protocol.</p>
		<input type="file" />
	</section>

	<section class="JobChoosebox">
		<h2>Choose an Existing Job</h2>
		<p>Enter the name of the job you would like to work on:</p>
		<input type="text" class="form-control" 
			ng-model="ChJobCtrl.jobName" on-enter-key="ChJobCtrl.submit()" />
		<button class="btn" ng-click="ChJobCtrl.submit()">Continue</button>
	</section>
</div>
