/* Default Behavior
*************************************************/
h1 {
  margin: 2rem 0;
  color: #E8F5E9; }

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 2rem;
  margin-top: .4rem; }

.btn {
  padding-top: .2rem;
  padding-bottom: .2rem; }

body {
  margin-bottom: 3rem;
  background-color: #43A047; }

section {
  background-color: #E8F5E9;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem 0; }

/* Utilities
*************************************************/
.u-italics {
  font-style: italic; }

.u-emph {
  font-weight: bold; }

/* Shared Components
*************************************************/
.Arrow-top, .Arrow-bottom, .Arrow-left, .Arrow-right {
  display: inline-block;
  width: 0;
  height: 0px;
  transition: border 1s; }

.Arrow-top {
  border: 7px solid transparent;
  border-bottom: 7px solid black; }

.Arrow-bottom {
  border: 7px solid transparent;
  border-top: 7px solid black; }

.Arrow-left {
  border: 7px solid transparent;
  border-right: 7px solid black; }

.Arrow-right {
  border: 7px solid transparent;
  border-left: 7px solid black; }

.CollapseToggler input {
  width: 0;
  margin: 0;
  padding: 0;
  display: none; }
.CollapseToggler:hover {
  color: black; }

.AlignedTable th, .FilterTable th, .SuggestionTable th, .AlignedTable td, .FilterTable td, .SuggestionTable td {
  width: 29%; }
.AlignedTable th:first-child, .FilterTable th:first-child, .SuggestionTable th:first-child, .AlignedTable td:first-child, .FilterTable td:first-child, .SuggestionTable td:first-child {
  width: 13%; }

/* Job Choosing
*************************************************/
.JobChoosebox input {
  width: 400px; }
.JobChoosebox input[type='file'] {
  margin-bottom: 1.6rem; }
.JobChoosebox label {
  display: block; }
.JobChoosebox button {
  margin-top: 1rem;
  margin-left: 100px;
  min-width: 200px;
  background-color: #A5D6A7; }

/* Progress Section
*************************************************/
.ProgressBox table {
  border-bottom: 1px solid #ddd;
  margin-bottom: 3rem; }

.ProgressList li {
  font-size: 1.7rem;
  margin-top: .6rem;
  margin-bottom: .6rem;
  list-style-image: url("../img/RightArrow.PNG"); }
.ProgressList .CollapseToggler {
  font-size: 1.6rem;
  margin-left: 1rem; }
.ProgressList .DownloadLink {
  margin-left: .3rem;
  text-decoration: none; }

/* Filter
*************************************************/
.FilterTable {
  margin-bottom: 1rem; }

.btn-success {
  background-color: #4CAF50; }

.ClearableInput {
  position: relative; }
  .ClearableInput i {
    opacity: 0.5;
    color: black;
    position: absolute;
    right: 1rem;
    top: 1rem; }

/* Hits View
*************************************************/
.HitsView {
  margin-bottom: 1.5rem; }
  .HitsView .CollapseToggler {
    font-size: 1.6rem; }

.HitsTable .ClearableInput {
  width: 80%; }
.HitsTable td {
  padding-top: .2rem !important;
  padding-bottom: .2rem !important; }
.HitsTable .TableButton {
  margin-bottom: .2rem; }

.PageTurner ul {
  border: 1px solid gray;
  margin: 0 auto; }

/* Suggestions table
*************************************************/
.LoadingBar {
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 150px; }

.SuggestionTable li {
  display: block;
  list-style: none;
  color: blue;
  cursor: pointer; }
  .SuggestionTable li:hover {
    text-decoration: underline; }
  .SuggestionTable li span {
    color: black; }

/*# sourceMappingURL=index.css.map */
