/* General
******************************************/

// Defaults

h2 {
  margin-top: 4rem;
  margin-bottom: .5rem;
}

// Shared components


/* Arrows */
$directions: top, bottom, left, right;
@function opposite($direction) {
  @if ($direction == left) { @return right; }
  @if ($direction == right) { @return left; }
  @if ($direction == top) { @return bottom; }
  @if ($direction == bottom) { @return top; }
}
%Arrow {
  display: inline-block;
  width: 0; height: 0px;
  transition: border 1s;
}
$c-arrow: black;
$w-arrow: 7px;
@each $direction in $directions {
  .Arrow-#{$direction} {
     @extend %Arrow;
     border: $w-arrow solid transparent;
     border-#{opposite($direction)}: $w-arrow solid $c-arrow;  
   }
}



/* Hits table
*************************************************/

.HitsTable {
  
  input {
    width: 80%;
    
  }
  td {
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
  }
  
}

.PageTurner ul {
  border: 1px solid gray;
  margin: 0 auto;
}



/* Suggestions table
*************************************************/

.SuggestionTable li {
  display: block;
  list-style: none;
  color: blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  span {
    color: black;
  }
}