/* Default Behavior
*************************************************/

// The colors were taken from the Material Design color pallete, ordered from light to dark
$c-green-50: #E8F5E9;
$c-green-100: #C8E6C9;
$c-green-200: #A5D6A7;
$c-green-300: #81C784;
$c-green-400: #66BB6A;
$c-green-500: #4CAF50;
$c-green-600: #43A047;
$c-green-700: #388E3C;
$c-green-800: #2E7D32;
$c-green-900: #1B5E20;
$c-blue-50: #E3F2FD;
$c-blue-100: #BBDEFB;
$c-blue-200: #90CAF9;
$c-blue-300: #64B5F6;
$c-blue-400: #42A5F5;
$c-blue-500: #2196F3;
$c-blue-600: #1E88E5;
$c-blue-700: #1976D2;
$c-blue-800: #1565C0;
$c-blue-900: #0D47A1;


h1 {
	margin: 2rem 0;
	color: $c-green-50;
}

h2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 2rem;
	margin-top: .4rem;
}

.btn {
	padding-top: .2rem;
	padding-bottom: .2rem;
}

body {
	margin-bottom: 3rem;
	background-color: $c-green-600;
}

section {
	background-color: $c-green-50;
	border-radius: 1rem;
	padding: 1.5rem;
	margin: 1rem 0;
}


/* Utilities
*************************************************/

.u-italics {
	font-style: italic;
}

.u-emph {
	font-weight: bold;
}

.u-shadow {
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.26);
}

@mixin tr-border-radius($radius) {
	td:first-child {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
	td:last-child {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}


/* Shared Components
*************************************************/

// Arrows
$directions: top, bottom, left, right;
@function opposite($direction) {
	@if ($direction == left) { @return right; }
	@if ($direction == right) { @return left; }
	@if ($direction == top) { @return bottom; }
	@if ($direction == bottom) { @return top; }
}
%Arrow {
	display: inline-block;
	width: 0; height: 0px;
	transition: border 1s;
}
$c-arrow: black;
$w-arrow: 7px;
@each $direction in $directions {
	.Arrow-#{$direction} {
		@extend %Arrow;
		border: $w-arrow solid transparent;
		border-#{opposite($direction)}: $w-arrow solid $c-arrow;  
	}
}

.CollapseToggler {
	input {
		width: 0;
		margin: 0;
		padding: 0;
		display: none;
	}

	&:hover {
		color: black;
	}
}

.AlignedTable {
	th, td {
		width: 29%;
	}
	th:first-child, td:first-child {
		width: 13%;
	}
}

/* Job Choosing
*************************************************/

.JobChoosebox {

	input[type='file'] {
		margin-bottom: 1.6rem;
		max-width: 30rem;
	}
	button {
		display: block;
		margin-top: 1rem;
		margin-left: 5rem;
		min-width: 200px;
		background-color: $c-green-400;
		color: $c-green-50;
		text-shadow: 1px 1px 1px $c-green-600;
		transition: color .3s ease;
		&:hover { color: $c-green-900; }
	}

	.ui-select-container {
		display: inline-block;
		min-width: 20rem;
	}

}

.NameChoosebox {
	display: block;
	max-width: 30rem;
}


/* Progress Section
*************************************************/

.AlignedTable--originalRule tr:not(:first-child) {
	background-color: $c-blue-100;

	td {
		border-top: 0;
		border-bottom: 0;
		background-color: transparent;
		@extend .u-shadow;
	}

	@include tr-border-radius(5px);
}

.ProgressBox {
	table {
		margin-bottom: 3rem;
	}
}

.ProgressList {
	li {
		font-size: 1.7rem;
		margin-top: .6rem;
		margin-bottom: .6rem;
		list-style-image: url('../img/RightArrow.PNG');
	}
	.CollapseToggler {
		font-size: 1.6rem;
		margin-left: 1rem;
	}
	.DownloadLink {
		margin-left: .3rem;
		text-decoration: none;
	}
}


/* Filter
*************************************************/

.FilterTable {
	@extend .AlignedTable;

	margin-bottom: 1rem;	
}

.btn-success {
	background-color: $c-green-500;
}


.ClearableInput {
	position: relative;

	 i {
		opacity: 0.5;
		color: black;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}
}


/* Hits View
*************************************************/

.HitsView {
	.CollapseToggler {
		font-size: 1.6rem;
	}

	margin-bottom: 1.5rem;
}

.HitsTable {
	
	.ClearableInput {
		width: 80%;	
	}

	td {
		padding-top: .2rem !important;
		padding-bottom: .2rem !important;
	}
	.TableButton {
		margin-bottom: .2rem;
	}

}

.PageTurner ul {
	border: 1px solid gray;
	margin: 0 auto;
}



/* Suggestions table
*************************************************/

.LoadingBar {
	width: 200px;
	display: block;
	margin: 0 auto;
	height: 150px;
}

.SuggestionTable {
	@extend .AlignedTable;
}
.SuggestionTable li {
	display: block;
	list-style: none;
	color: blue;
	cursor: pointer;

	&:hover { text-decoration: underline; }

	&.disabled { 
		color: gray; 
		cursor: default;
		&:hover {
			text-decoration: none;
		}
	}

	&:not(.disabled) span { color: black; }
}

